{% extends "base.html" %}
{% load static crispy_forms_tags %}

{% block title %}Todos{% endblock %}


{% block content %}
<div class="container">
    <div class="mb-2">
        <div class="row align-items-center">
          <div class="col-md-6 col-12 hstack gap-3">
            <div class="me-2 d-xl-none">
              <a class="text-muted" data-bs-toggle="collapse" href="#collapseSidebarLeft" role="button" aria-expanded="false" aria-controls="collapseSidebarLeft">
                <i class="bi bi-chevron-left"></i>
              </a>
            </div>
            <div>
              <h5 class="h3"># todo-list</h5>
            </div>
          </div>
        </div>
    </div>

    <div id="todo-list-body">
        {% for todo in object_list %}
            <p>
                <input type="checkbox"
                        id="todo-{{ todo.id }}"
                        name="todo-{{ todo.id }}"
                        value="{{ todo.title }}"
                        {% if todo.status %} checked {% endif %}
                        onchange="updateStatus(event, {{ todo.id }}, '{{ todo.title }}')">
                    {{ todo.title }}
            </p>
        {% empty %}
            <p>No todos yet.</p>
        {% endfor %}
    </div>

    <div class="mt-2">
        <form method="POST" name="listForm" id="listForm">
            {% csrf_token %}
            <div class="row align-items-center">
                <div class="col-md-6 col-12 hstack gap-3">
                    <div>
                        <input type="text"
                                class="form-control form-control-sm"
                                id="title"
                                name="title"
                                placeholder="list item ...">
                    </div>
                    <div>
                        <a href="#" type="submit"
                            class="btn btn-outline-primary btn-sm"
                            onclick="addItem(event)">
                            Add Item
                        </a>

                        <a href="#" type="submit"
                            class="btn btn-outline-primary btn-sm"
                            onclick="resetForm(event)">
                            Reset
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock content %}


{% block inline_javascript %}
    <script defer src="{% static 'js/todo.js' %}"></script>
{% endblock inline_javascript %}